.demo {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1180px;
    margin: 0 auto;
}

.search-bar {
    text-align: right;
}

.search-bar .bar {
    text-align: left;
}

.search-bar > * + * {
    margin-left: 10px;
}

@media (min-width: 30em) {

    .search-bar {
        display: flex;
        align-items: center;
    }

    .search-bar .bar {
        flex: 1 0 auto;
    }

}
